.container {
  background-color: var(--bgcolor-secondary);
  border: 2px solid var(--border-cards-color);
  padding: 1em;
  width: 30%;
  min-width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 3em;
  cursor: pointer;
  max-width: 250px;
  transition: .3s;
}

.button {
  background-color: var(--bgcolor-secondary);
  border: 2px solid var(--border-cards-color);
  padding: 1em;
  width: 30%;
  min-width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 3em;
  cursor: pointer;
  max-width: 250px;
  transition: .3s;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
}


.button:hover {
  border: 2px solid var(--active-color);
}