.head {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.image {
    border-radius: 50%;
    max-width: 40px;
    cursor: pointer;
}

.repostBody {
    border-left: 2px solid var(--border-cards-color);
    padding-left: 12px;
    margin-top: 12px;
}

.info {
    padding-left: 10px;
}

.name {
    color: var(--text-color-headers)
}

.date {
    padding-top: 5px;
    font-weight: 400;
    color: var(--text-color-secondary);
}



.icons {
    font-size: 13px;
    color: var(--text-color-secondary);
    background-color: var(--bgcolor-icons);
    display: flex;
    align-items: center;
    border: 0px solid var(--border-cards-color);
    border-radius: 1em;
    padding: 4px 12px;
    margin-right: 10px;
    font-weight: bold;
    gap: 4px;
}



.footer {
    padding: 12px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

.text {
    padding: 8px 0 0 0;
    color: var(--text-color-primery);
    font-size: 13px;
    overflow-wrap: break-word;
}

.attachments {
    padding-top: .5em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: .3rem
}

.img {
    border-radius: .5rem;
    min-width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.cards {
    max-width: 100%;
}

.card {
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--border-cards-color);
    border-radius: 1rem;
    background-color: var(--bgcolor-secondary);
    padding: 16px 20px 0px 20px;
}

.activities {
    display: flex;
    align-items: center;
}

.links {
    display: flex;

}

#target {
    cursor: pointer;
    transition: .3s ease;
}

#target:hover {
    font-size: 16px;
}

@media (max-width: 870px) {
    .footer{
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
    .activities{
        flex-wrap: wrap;
    }
    .links {
        flex-wrap: wrap;
    }
}